@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Patrick Hand", cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: pink;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#newTaskForm {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#taskInput {
    flex: 1 1 0%;
    background-color: yellowgreen;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

#taskInput::placeholder {
    color: greenyellow;
}

#taskSubmit {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    background-color: paleturquoise;
    width: 100px;
    border-radius: 1rem;
}

#taskSubmit:hover {
    opacity: 0.8;
}

#taskSubmit:active {
    background-color: violet;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.taskList {
    padding: 1rem;
}

.taskList h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#myTasks .task {
    display: flex;
    justify-content: space-between;
    background-color: lightseagreen;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#myTasks .task .content .text {
    color: lightskyblue;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#myTasks .task .content .text:not(:read-only) {
    color: purple;
}

#myTasks .task .actions {
    display: flex;
    margin: 0 --0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    background-color: white;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    background-color: violet;
}

.task .actions .edit {
    background-color: paleturquoise;
}

.task .actions .delete {
    background-color: crimson;
    color: white;
}